<link href="~/css/marketdesign.css" rel="stylesheet" />

<div class="container">
    <div class="overview-box">
        <div class="overview-menu">
            <div class="coin-table">
                 <img src="~/images/btc.svg" width="24" height="24"/>
                 <p>BTC</p>
                 <p>Price</p>
                 <p>24Hours</p>
            </div>
            <div class="coin-table">
                <img src="~/images/btc.svg" width="24" height="24" />
                <p>BTC</p>
                <p>Price</p>
                <p>24Hours</p>
            </div>
            <div class="coin-table">
                <img src="~/images/btc.svg" width="24" height="24" />
                <p>BTC</p>
                <p>Price</p>
                <p>24Hours</p>
            </div>
        </div>
        <div class="overview-menu">
            <div class="coin-table">
                <img src="~/images/btc.svg" width="24" height="24" />
                <p>BTC</p>
                <p>Price</p>
                <p>24Hours</p>
            </div>
            <div class="coin-table">
                <img src="~/images/btc.svg" width="24" height="24" />
                <p>BTC</p>
                <p>Price</p>
                <p>24Hours</p>
            </div>
            <div class="coin-table">
                <img src="~/images/btc.svg" width="24" height="24" />
                <p>BTC</p>
                <p>Price</p>
                <p>24Hours</p>
            </div>
        </div>
        <div class="overview-menu">
            <div class="coin-table">
                <img src="~/images/btc.svg" width="24" height="24" />
                <p>BTC</p>
                <p>Price</p>
                <p>24Hours</p>
            </div>
            <div class="coin-table">
                <img src="~/images/btc.svg" width="24" height="24" />
                <p>BTC</p>
                <p>Price</p>
                <p>24Hours</p>
            </div>
            <div class="coin-table">
                <img src="~/images/btc.svg" width="24" height="24" />
                <p>BTC</p>
                <p>Price</p>
                <p>24Hours</p>
            </div>
        </div>
        <div class="overview-menu">
            <div class="coin-table">
                <img src="~/images/btc.svg" width="24" height="24" />
                <p>BTC</p>
                <p>Price</p>
                <p>24Hours</p>
            </div>
            <div class="coin-table">
                <img src="~/images/btc.svg" width="24" height="24" />
                <p>BTC</p>
                <p>Price</p>
                <p>24Hours</p>
            </div>
            <div class="coin-table">
                <img src="~/images/btc.svg" width="24" height="24" />
                <p>BTC</p>
                <p>Price</p>
                <p>24Hours</p>
            </div>
        </div>
    </div>

    <div class="market-table-container">
        <table class="market-table">
            <thead>
                <tr>
                    <th>Coin</th>
                    <th>Fiyat</th>
                    <th>Değişim</th>
                    <th>Hacim</th>
                    <th>Piyasa Değeri</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="coin-name"><img src="/images/btc.svg" alt="BTC" /> Bitcoin (BTC)</td>
                    <td>$57,230.54</td>
                    <td class="price-positive">+1.45%</td>
                    <td>$23.1B</td>
                    <td>$1.12T</td>
                </tr>
                <tr>
                    <td class="coin-name"><img src="/images/eth.svg" alt="ETH" /> Ethereum (ETH)</td>
                    <td>$3,120.99</td>
                    <td class="price-negative">-0.82%</td>
                    <td>$12.7B</td>
                    <td>$580B</td>
                </tr>
            </tbody>
        </table>

        <div class="pagination">
            <button>1</button>
            <button>2</button>
            <button>3</button>
        </div>
    </div>
</div>
