<link href="~/css/cryptomarketdesign.css" rel="stylesheet" />

<div class="container">
    <div class="overview-box">
        <div class="overview-menu">Favori</div>
        <div class="overview-menu">Spot</div>
        <div class="overview-menu">Vadeli</div>
    </div>
</div>
