

<link href="~/css/coinmarket.css" rel="stylesheet" />
<div class="container" style="margin-top: 100px; z-index: 1000; position: relative;">
    <div class="marketbox">
        <img src="~/images/bitcoin-cash-bch-logo.svg" width="24" height="24" alt="Coin Market png" />
        <h3>BCHUSDT</h3>
        <h3>Amount</h3>
        <h3>24HOURS</h3>
    </div>
    
</div>
