<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="~/css/site.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404</title>
</head>
<body>
    <div class="" style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin: 10px;">
        <img src="/images/404.png" alt="" style="max-width: 100%; height: auto;">
        <h1>-404 ERROR-</h1>
        <a href="#" class="btn btn-primary" style="margin-top: 10px;">Reload Page</a>
    </div>
</body>
</html>