
.container {
    max-width: 100%;
    padding: 0 1.4rem;
    margin: auto;
}
.container .marketbox {
    display: flex;
    gap: 25px;
    padding: 10px;
    margin: 10px;
    background-color: #131315;
    min-width: 500px;
    max-width: 720px;
    border-radius: 3px;
    color: white;
    align-items: center;
    text-align: center;

}

.marketbox h3 {
    font-weight: bold;
    margin: 0; 
    color:white;

}

.badge {
    display: inline-block;
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 1.6rem;
    font-weight: bold;
    margin-top: 5px;
}

.badge.green {
    background-color: #6fcf97;
    color: #fff;
}

.badge.red {
    background-color: #eb5757;
    color: #fff;
}
