body {
    padding-top: 100px; /* Header yüksekliği kadar */
    margin: 0;
    background-color: #0D0D0D; /* Koyu arka plan varsa */
    color: white;
    font-family: sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.overview-box {
    display: flex;
    justify-content: center; /* KUTULARI ORTALAR */
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    border-radius: 6px;
    padding: 20px;
    background-color: #131315;
    margin-top: 20px;
}

.overview-menu {
    flex: 1 1 200px; /* responsive genişlik */
    min-width: 180px;
    max-width: 400px;
    height: 60px;
    background-color: #1A1A1D;
    border: 0.01px solid #3874FF;
    border-radius: 5px;
    color: #3874FF;
    display: flex;
    cursor: pointer;
    transition: 0.3s;
    padding: 15px;
}
